{% extends "template.njk" %}

{% block content %}
  <h1 class="govuk-heading-xl">Welcome to Lorna's Dev Test (WIP!)</h1>
  <nav>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/tasks" class="govuk-link govuk-link--no-underline govuk-link--no-visited-state">View All Tasks</a></li>
    </ul>
  </nav>
{% endblock %}
